html {
    font-family: "Roboto", sans-serif;
}

h1 {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    font-size: 70px;
    font-weight: 900;
    font-style: normal;
    margin: 10px;
}

#introParagraph {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    font-weight: lighter;
    font-weight: 300;
    font-style: normal;
}

#hero-section {
    margin-left: 40px;
    margin-right: 40px;
    background-image: url('Images/gradient.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkorange;
    border-radius: 20px;
    padding: 10px;
}

#firstLineContainer {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
}

.methodMainContainer {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 300px;
    padding: 5px;
    flex-shrink: 0;
}

h2,
p {
    margin: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}

p {
    margin-bottom: 10px;
}

.methodButtonContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

input {
    width: 100px;
}

#charAtOutputResult,
#lengthOutputResult,
#indexOfOutputResult,
#lastIndexOfOutputResult {
    border: 1px solid black;
    width: 105px;
    height: 20px;
    background-color: white;
}

.methodOutputContainer,
.methodNumberContainer,
.methodVariableContainer,
.methodVariableContainer2 {
    display: flex;
    justify-content: right;
    padding-right: 80px;
}

label {
    text-align: right;
}