h1 {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
}

#introParagraph {
    display: flex;
    box-sizing: border-box;
    justify-content: left;
    font-weight: lighter;
}

#firstLineContainer {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
}

.methodMainContainer {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 300px;
    padding: 5px;
    flex-shrink: 0;
}

h2,
p {
    margin: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}

p {
    margin-bottom: 10px;
}

.methodButtonContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

input {
    width: 100px;
}

#charAtOutputResult,
#lengthOutputResult,
#indexOfOutputResult,
#lastIndexOfOutputResult {
    border: 1px solid black;
    width: 105px;
    height: 20px;
}

.methodOutputContainer,
.methodNumberContainer,
.methodVariableContainer,
.methodVariableContainer2 {
    display: flex;
    justify-content: right;
    padding-right: 80px;
}

label {
    text-align: right;
}