html {
    font-family: "Roboto", sans-serif;
    margin-bottom: 30px;
}

body {
    margin: 0;
}

#nav-bar {
    background-color: white;
    padding: 40px;
    padding-bottom: 20px;
}

h1 {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 60px;
    font-weight: 900;
    font-style: normal;
    margin: 10px;
}

#introParagraph {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    font-weight: lighter;
    font-weight: 300;
    font-style: normal;
    margin-left: 200px;
    margin-right: 200px;
}

#hero-section {
    margin-left: 40px;
    margin-right: 40px;
    border-radius: 20px;
    padding: 10px;
    background-color: darkorange;
    background-image: url('Images/bg2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

#firstLineContainer {
    display: flex;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around;
}

.methodMainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0px;
    padding: 5px;
    flex-shrink: 0;
    text-align: left;
}

.methodTextContainer {
    width: 310px;
    height: 390px;
    font-weight: 350;
    padding-bottom: 20px;
}

.methodInputContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 310px;
    height: 310px;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-weight: 500;
    font-size: 30px;
    padding-bottom: 20px;
}

p {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

button {
    border-radius: 5px;
    background-color: white;
    border: 0;
}

.methodButtonContainer {
    display: flex;
    justify-content: center;
    margin: 10px;
}

input {
    width: 100px;
}

#charAtOutputResult,
#lengthOutputResult,
#indexOfOutputResult,
#lastIndexOfOutputResult {
    border: 1px solid black;
    width: 105px;
    height: 20px;
    background-color: white;
}

.methodOutputContainer,
.methodNumberContainer,
.methodVariableContainer,
.methodVariableContainer2 {
    display: flex;
    justify-content: right;
    padding-right: 80px;
}

label {
    text-align: right;
}